*{
    padding: 0%;
    margin: 0%;
}
/*main page*/
.nav{
    background-color: purple;
    padding: 20px;
    color: white;
}
.nav a{
    color: white;
}
section{
    padding: 4vw;
}
.fot{
    padding: 5vw;
    background-color: purple;
}
.fot p{
    color: white;
}
.back-home{
    text-decoration: none;
}
/*main page end*/
.bt{
padding: 15px;
    border: solid 2px black;
    outline: none;
    border-radius: 50px;
    
}
.input{
    padding: 15px;
    border: solid 2px black;
    outline: none;
    border-radius: 50px;
}

